<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--css de la pagina de inicio en general -->
	<link rel="stylesheet" href="../css/style_general.css">
	<!--css de la barra de marcas -->
	<link rel="stylesheet" href="../css/style_epa_colombia.css">
	<!--fuente de iconos la use en las flechas del carrusel 
	 https://boxicons.com/ -->
	<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
	<title>Dinamyc Loock-epa-colombia</title>
		<!-- favicons de la pagina -->
	<link rel="apple-touch-icon" sizes="180x180" href="../imagenes/favicons/apple-touch-icon.ico">
	<link rel="icon" type="image/png" sizes="32x32" href="../imagenes/favicons/favicon-32x32.ico">
	<link rel="icon" type="image/png" sizes="16x16" href="imagenes/favicons/favicon-16x16.ico">
	<link rel="manifest" href="../imagenes/favicons/site.webmanifest">
	<link rel="mask-icon" href="../imagenes/favicons/safari-pinned-tab.svg"	 color="#5bbad5">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="theme-color" content="#ffffff">
</head>
<body>
	<!-- 1. barra de navegacion -->
	<header class="header">

		<div class="logo">
			<!-- esta etiqueta modifica el logo -->
			<a href="index.html"><img src="../imagenes/logos/logo-dinamyc-loock-sin-fondo.png" alt="Logo de la Empresa">
			<h2 class="nombre-empresa">Dinamyck Loock</h2></a>
		</div>
		
			<!--iconos de navegacion-->
			<div  class="nav-links icon-cart"><a href="#"><i class='bx bx-cart'></i></a></div>
			<div class="nav-links icon-user"><a href="login.html"><i class='bx bx-user-circle'></i></a></div>
				
	<!-- 1.1 barra de busqueda -->
			<div class="barra-de-busqueda">
					<!-- input de busqueda -->
				<input class="buscar" type="text" placeholder="   Buscar">
					<!-- boton de busqueda -->
				<div class="btn">
					<!-- cambia la imagen del boton de busqueda -->
					<button><i class='bx bx-search'></i width="50px" height="50px"></button>
				</div>
			</div>
	</header>
	
<!--2. Barra de Marcas-->
	<section class="barra-de-marcas">
		<a id="marcas" href="epa-colombia.html">Epa Colombia<img src="" alt=""></a>
		<a id="marcas" href="anyeluz.html">Anyeluz<img src="" alt=""></a>
		<a id="marcas" href="milagros.html">Milagros<img src="" alt=""></a>
		<a id="marcas" href="dluchi.html"><img src="../imagenes/logos/dluchi logo letra cian.png" alt=""></a>
		<a id="marcas" href="kaba.html"><img src="../imagenes/logos/logoenletraskaba.png" width="auto" height="35px" alt=""></a>
		<a id="marcas" href="lareceta.html"><img src="../imagenes/logos/la receta logo en verde.png" alt=""></a>
		<a id="marcas" href="magic-hair.html">Magic Hair<img src="" alt=""></a>
		<a id="marcas" href="OMG.html"><img src="../imagenes/logos/omg logo letra blaca.png"width="auto" height="35px" alt=""></a>
		<a id="marcas" href="la-pocion.html"><img src="../imagenes/logos/pocion logo en blanco.png"width="auto" height="35px" alt=""></a>
	</section>

<!--3.carrusel de imagenes-->

	<!-- esta etiqueta genera el container el cual establece el tamaño de las imagenes al momento de sesplazarlas -->
	<div class="container-carrusel">
		<!--esta etiqueta representa el container que se mueve para mostrar las imagenes en patalla-->
		<div class="carruseles" id="slider">
			<!-- las section son las imagenes que va a ontener el carrusel -->
			<section class="slider-section">
				<img src="../imagenes/epa colombia/Banner_Fusion_Keratina.png" alt="descripcion de la imagen ">
			</section>

			<section class="slider-section">
				<img src="../imagenes/epa colombia/Banner_Fusion_Cirugia.png" alt="descripcion de la imagen ">
			</section>

			<section class="slider-section">
				<img src="../imagenes/epa colombia/Banner_Fusion_Hidratante.png" alt="descripcion de la imagen ">
			</section >
			<section class="slider-section">
				<img src="../imagenes/img_referencia_4.jpg" alt="descripcion de la imagen">
			</section>
		</div>
		<!-- estas etiquetas son los botones para mover las imagenes hacia la derecha o izquierda -->
		<div class="btn-right">
			<!-- cambia la imagen del boton hacia la derecha-->
			<i class='bx bx-right-arrow-circle' ></i>	
		</div>
		<div class="btn-left">
			<!-- cambia la imagen del boton hacia la izquierda-->
			<i class='bx bx-left-arrow-circle'></i>
		</div>
		<!--java del carrusel de imagenes-->
		<script src="../js/script_carrusel_de_imagenes.js"></script>
	</div>
	<section><p>MARCA 3</p></section>
</body>
</html>