<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--css de la pagina de inicio en general -->
	<link rel="stylesheet" href="../css/style_general.css">
	<link rel="stylesheet" href="../css/style_login.css">
	<title>Dinamyc-loock-Iniciar sesion</title>
	<!--fuente de iconos la use en las flechas del carrusel 
	 https://boxicons.com/ -->
	<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
		<!-- favicons de la pagina -->
	<link rel="apple-touch-icon" sizes="180x180" href="../imagenes/favicons/apple-touch-icon.ico">
	<link rel="icon" type="image/png" sizes="32x32" href="../imagenes/favicons/favicon-32x32.ico">
	<link rel="icon" type="image/png" sizes="16x16" href="imagenes/favicons/favicon-16x16.ico">
	<link rel="manifest" href="../imagenes/favicons/site.webmanifest">
	<link rel="mask-icon" href="../imagenes/favicons/safari-pinned-tab.svg"	 color="#5bbad5">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="theme-color" content="#ffffff">
</head>
<body>
<header class="header">
		<!-- 1. barra de navegacion -->
		<nav class="nav-container">
			<div class="nombre-empresa">
				<a href="index.html">Dinamyc Loock</a>
			</div>
				<ul class="nav-links">
					<li><a href="#">Sobre Nosotros</a></li>
					<li><a href="#">Reseñas</a></li>
					<li><a href="#">Carrito</a></li>
				</ul>
		</nav>
	</header>

<!--2. formularios de  registro  -->
<!-- 2.1 ingreso al formulario para registrarse -->
<section class="register">
	<div class="container-form">
		<div class="information">
			<div class="info-childs">
				<!--Titulo que le da la bienvenida a los usuarios antiguos-->
				<h2 class="titulo-bienvenida">¡Bienvenido nuevamente!</h2>
				<!--Parrafo que le da la bienvenida a los nuevos usuarios y les da la opcion de ir a la pagina de registro-->
				<p class="texto-bienvenida">Si aun no tienes una cuenta registrate aqui</p>
				<!--Boton que lleva a la pagina de registro -->
				<a href="register.html"><input type="button" value="Regitrarse" class="boton-registrarse" id="sing-in"></a>
			</div>
		</div>
<!--2.2 formulario para iniciar sesion-->
	<div class="form-information">
			<div class="form-information-childs">
				<!--Titulo de iniciar sesion-->
				<h2 class="iniciar-sesion">Iniciar sesion</h2>
				<!--iconos de google y facebook para iniciar sesion con esas plataformas-->
				<div class="icons">
					<i class='bx bxl-google'></i>
					<i class='bx bxl-facebook' ></i>
				</div>
				<!--parrafo que informa la otra manera de iniciar sesion-->
				<p class="text-iniciar-sesion">o usa tu email para iniciar sesion</p>
				<form class="form-iniciar-sesion">
					<label class="label-form-iniciar-sesion">
						<i class='bx bx-envelope' ></i>
						<!--input en el que se ingresa el email registrado anteriormente por el usuario-->
						<input type="email" required placeholder="Correo electonico" class="input-form-iniciar-sesion">
					</label>
					<label class="label-form-iniciar-sesion">
						<i class='bx bx-lock-alt' ></i>
						<!--input en la que se ingresa la contraseña del usuario-->
						<input type="password" required placeholder="Contraseña" class="input-form-iniciar-sesion">
					</label>
					<!--Boton para ingresar al sistema-->
					<input type="submit" value="Iniciar sesion" class="boton-iniciar-sesion">
				</form>
			</div>
		</div>
	</div>
</section>


</body>
</html>