/* Header y navegación */
.header {
	background: #F9EAF1;
}

.nombre-empresa a {
	color: #952FA4;
}

/* Estilo para la lista de navegación */
.nav-links a {
	color: #952FA4;
}

.nav-links li:hover {
	background-color:  rgba(230, 180, 243, 0.8);
}

.btn-serch button {
	background-color: #952FA4;
}

.btn-serch button:hover {
	background-color: #762781;
}

.toggle-search {
    color: #952FA4;
}

.toggle-search:hover {
    background-color: rgba(230, 180, 243, 0.8);
}

.barra-de-busqueda.active .btn-serch button {
    background-color: #952FA4;
    color: #FBFAF7;
}

.barra-de-busqueda.active .btn-serch button:hover {
    background-color: #762781;
}

/*********************************** CARRITO *****************************/

#carrito-header {
    color: #762781;
}

#carrito-header button {
    color: #64256A;
}

.carrito-item h4 {
    color: #64256A;
}

.carrito-item p {
    color: rgba(100, 37, 106, 0.8);
}

.carrito-item button {
    color: #64256A ;
}

#carrito-footer button {
    background: #952FA4;
    color: #fff;
}

/* Badge del carrito */
.carrito-badge {
    background: #E6B4F3;
    color: #64256A;
}


/******************************** BARRA DE MARCAS *******************************/
.barra-de-marcas{
	background-color: #952FA4;
	margin-left: -25px;
}

.scroll-container::-webkit-scrollbar-thumb {
    background-color: #762781; /* Color del "dedo" de la barra */
}

.scroll-container::-webkit-scrollbar-thumb:hover {
    background-color: #64256A; /* Color cuando pasas el cursor por encima */
}

.scroll-container::-webkit-scrollbar-track {
    background-color: #952FA4; /* Color del carril de la barra de desplazamiento */
}

/*********************************** SECCION UNO (1) ***********************************/
.section1-product {
    background-color: #FBFAF7;
}
#t1 {
    color: #952FA4;
    background-color: #FBFAF7; 
    text-shadow: 1px 1px 2px rgba(64, 13, 69, 0.1);
}

#t1::after {
    background-color: #C55ADB;
}

#p1 {
    color: #C55ADB;
}

.container-product-cards {
    background-color: #FBFAF7;
}

.product-card {
    background-color: #FFFFFF;
    box-shadow: rgba(149, 47, 164, .4); 
}

.product-card:hover {
    box-shadow: rgba(149, 47, 164, 0.6); 
}

.text-card {
    background-color: #952FA4;
    color: #FBFAF7;
}

#text-precio2 {
    color: #762781;
    background-color: rgba(247, 235, 252, 0.9);
}

#text-marca2 {
    color: rgba(247, 235, 252, 0.8);
}

  /* Botón de agregar al carrito */
#btn-add {
    background-color: #D988EA;
    color: #FCF5FE;
    box-shadow: 0 2px 5px rgba(64, 13, 69, 0.2); 
}

#btn-add:hover {
    background-color: #C55ADB;
    box-shadow: 0 4px 8px rgba(64, 13, 69, 0.3);
}

/*********************************** SECCION DOS (3) ***********************************/
#t3 {
    color: #762781;
    background-color: #F1D5F9; 
    text-shadow: 1px 1px 2px rgba(31, 74, 29, .3); 
}

/* Añadir línea decorativa debajo del título */
#t3::after {
    background-color: #762781;
}

#p3 {
    color: #952FA4;
}

.product-card3 {
    background-color: #E6B4F3;
    box-shadow: rgba(64, 13, 69, .4);}

.product-card3:hover { 
    box-shadow: rgba(64, 13, 69, 0.6); 
}

.text-card3 h3 {
    color: #64256A; 
}

#text-marca3 {
    color: #64256A;
}

.image-container3 img{
    box-shadow: 0 4px 8px rgba(12, 40, 11, 0.2); 
}

.image-container3 img:hover {
    box-shadow: 0 6px 12px rgba(12, 40, 11, 0.3); 
}

.ver-mas-btn {
    color: #64256A;
}

.ver-mas3 {
    background-color: #952FA4;
    color: #FFFFFF;
    box-shadow: 0 2px 5px rgba(12, 40, 11, 0.2); 
}
/*********************************** SECCION detalles (4) ***********************************/

.section4-product {
    background-color: #f7EBFC;
}
#t4 {
    color: #C55ADB;
    background-color: #f7EBFC; 
    text-shadow: 1px 1px 2px rgba(12, 40, 11, 0.1);
}

/* Añadir línea decorativa debajo del título */
#t4::after {
    background-color: #952FA4;
}

    /* Subtitulo */
#p4 {
    color: #952FA4;
}

.carousel-prd-container {
    background-color: #f7EBFC;
}

.product-card4 {
    background-color: #FFFFFF;
    box-shadow: 0 5px 15px rgba(100, 37, 106, 0.3);
}

.product-card4:hover {
    box-shadow: 0 8px 20px rgba(118, 39, 129, 0.5);
}


.text-card4 {   
    background-color: #FAFAFA;
    color: #FBFAF7;
}

.text-card4 h3 {
    color: #64256A;
}

#text-precio {
    color: #762781;
    background-color: rgba(241, 213, 249, 0.6);
}

#text-marca {
    color: rgba(118, 39, 129, 0.6);
}

  /* Botón de agregar al carrito */
#btn-add4 {
    background-color: #952FA4;
    color: #FBFAF7;
    box-shadow: 0 2px 5px rgba(12, 40, 11, 0.2); 
}

#btn-add4:hover {
    background-color: #C55ADB;
    box-shadow: 0 4px 8px rgba(12, 40, 11, 0.3);
}

.btn-right-prd, .btn-left-prd {
    background-color: #C55ADB;
    box-shadow: 0 3px 10px rgba(12, 40, 11, 0.3);
}

.btn-right-prd:hover, .btn-left-prd:hover {
    background-color: #1F4A1D;
}

.carousel-dot {
    background-color: #952FA4;
}

.carousel-dot.active {
    background-color: #C55ADB;
}

button.btn-fav i.bx.bxs-heart,
.btn-fav i.bxs-heart {
    color: #762781 !important;
}

/*********************************** DETALLES ***********************************/
/* Contenedor principal detalle */
.detalle-container {
    background: #FBFAF7;
    box-shadow: 0 4px 10px rgba(64, 13, 69,0.2);
}

.detalle-info h1 {
    color: #762781;
}

.descripcion {
    color: rgba(100, 37, 106, 0.8);
}

.precio {
    color: #952FA4;
}

.text-cantidad {
    color: #762781;
}

.btn-principal {
    background: #952FA4;
    color: white;
}

.btn-principal:hover {
    background: #762781;
}

.titulo-relacionados {
    color: #762781;
    border-top: 1px solid #64256A;
}

.card-rel a {
    background: #e7e5e0;
    box-shadow: 0 2px 6px rgba(100, 37, 106,0.1);
}

.card-rel h3 {
    color: #762781;
}

.price {
    color: #C55ADB;
}

#btn-add-rel {
    background: #762781;
    color: white;
}

.swiper-container-externo .swiper-pagination-bullet {
    background-color: rgba(118, 39, 129, 0.4);

}

.swiper-container-externo .swiper-pagination-bullet-active {
    background-color: #64256A;
}
