/*letra para el nombre de la empresa*/
@import url('https://fonts.googleapis.com/css2?family=Playwrite+NZ:wght@100..400&display=swap');
/*letra general de toda la pagina*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Propiedades generales */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box; 
}

/* Estilo para el body */
body {
	background-color: #FEF2F4;
	font-family: "Montserrat", sans-serif;
	font-size: 20px;
}

/* Header y navegación */
.header {
	background-color: #FCC8D1;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 65px;
	padding: 3% 5%;
}

/* propiedades de nav*/
.nav-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

/* Estilo para el nombre de la empresa */
.nombre-empresa a{
	font-family: "Playwrite NZ", cursive;
	font-size: 30px;
	color: #ffffff;
	text-decoration: none;
	margin: 0;
}

/* Estilo para la lista de navegación */
.nav-links {
	list-style: none;
	display: flex; 
	gap: 20px; 
}

.nav-links li {
	font-size: 18px;
	padding: 10px;
}

.nav-links a {
	color: #ffffff;
	text-decoration: none;
}
.nav-container a:hover {
	cursor: pointer;
}
.nav-links li:hover {
	background-color: #D14D72;
	padding: 10px;
	border-radius: 20px;
}

.container-logo {
	display: flex;
	justify-content: center;
	 background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
                        url(../imagenes/imagen);
	background-size: cover;
	background-position: center;
	height: 250px;
}
.container-logo img {
	height: 150px;
	width: auto;
	filter: drop-shadow(5px 5px 10px rgba(252, 200, 209, 0.5));
	margin: 10px;
	padding: 10px;
}

/*2.2. BARRA DE BUSQUEDA*/

/*cambia la posicion del div:barra-de-busqueda*/
.barra-de-busqueda{
	display: flex;
	align-items: center;
	position: absolute;
	top: 230px;
	padding: 10px;
}
/*cambia las propiedades del input */
.barra-de-busqueda .buscar{
	box-sizing: border-box;
	height: 40px;
	width: 50vw;
	padding: 0 45px 0 20px;
	color: black;
	border-radius: 50px;
	font-size: 20px;
	border: 2px solid #FFFFFF;
}
.buscar:focus {
	outline: none;
}
/*cambia la posicion del icono de busqueda*/
.btn button{
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 10px;
	right: 10px;
	width: 40px;
	height: 40px;
	border: 0;
	border-radius: 0 50px 50px 0;
	background-color: #FEA1A1;
	font-size: 25px;
	color: #FFFFFF;
}
/* 2.2 BARRA DE MARCAS*/
/*propiedades de la seccion*/
.barra-de-marcas {
	max-width: auto;
	
}
.barra-de-marcas img{
	height: 35px;
	width: auto;
}

 /* Color del carril de fondo */
.scroll-container {
  	display: flex;
  	width: 100%;
	justify-content: space-between;
  	overflow-x: scroll;
  	scroll-snap-type: x mandatory;
  	scroll-padding: 20px; /* Espacio al borde del contenedor */
  	gap: 20px;
}

/* Personalización de la barra de scroll horizontal */
.scroll-container::-webkit-scrollbar {
    height: 6px; /* Altura de la barra de scroll horizontal */
}

.scroll-container::-webkit-scrollbar-thumb {
    background-color: #FEA1A1; /* Color del "dedo" de la barra */
    border-radius: 10px;/* Bordes redondeados */
}

.scroll-container::-webkit-scrollbar-thumb:hover {
    background-color: #D14D72; /* Color cuando pasas el cursor por encima */
}

.scroll-container::-webkit-scrollbar-track {
    background-color: #FCC8D1; /* Color del carril de la barra de desplazamiento */
}

.item {
  scroll-snap-align: center; 
  height: 300px;
  width: 800px;
}

@media screen and (max-width: 750px){
/* Estilo para el nombre de la empresa */
.nombre-empresa a{
	font-family: "Playwrite NZ", cursive;
	font-size: 20px;
	color: #ffffff;
	text-decoration: none;
	margin: 0;
}

/* Estilo para la lista de navegación */
.nav-links {
	list-style: none;
	display: flex; 
	gap: 10px; 
}

.nav-links li {
	font-size: 13px;
	padding: 10px;
}

.nav-links a {
	color: #ffffff;
	text-decoration: none;
}
.nav-container a:hover {
	cursor: pointer;
}
.nav-links li:hover {
	background-color: #D14D72;
	padding: 10px;
	border-radius: 20px;
}

.container-logo {
	display: flex;
	justify-content: center;
	 background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
                        url(../imagenes/fondo_s.jpeg);
	background-size: cover;
	background-position: center;
	height: 250px;
}
.container-logo img {
	height: 150px;
	width: auto;
	filter: drop-shadow(5px 5px 10px rgba(252, 200, 209, 0.5));
	margin: 10px;
	padding: 10px;
}
}

/*3. CARRUSEL DE IMAGENES*/
/*este modifica el tamaño del container el cual muestra las imagenes del carrusel*/
.container-carrusel{
	width: 100 vw;
	height: 600 vh;
	top: 5px;
	margin: 0 0 20px;
	overflow: hidden;
	border-radius: 0px;
	position: relative;
}
/*establece las propiedades del container que se desplaza en width se pone segun
la cantidad de imagenes, cada imagen equivale a un 100% mas */
.carruseles{
	width: 400%;
	height: 100%;
	display: flex;
	text-align: center;
}
/*este modifica el tamaño de cada section, en el width se calcula el tamaño 
cogiendo el 100% de el .carruseles y dividiendo en la cantidad de imagenes 
que contiene el carrusel de imagenes */
.slider-section{
	width: calc(100%/4);
	height: 100%;
}
/*este modifica el tamaño solo de las imagenes y no del container donde se encuentran 
se deja al 100% para que el codigo sea adaptable y facil de modificar si se llega a agregar
o eliminar alguna imagen del carrusel*/
.slider-section img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 0px;
}
/*este modifica las propiedades que tienen los botones para desplazarze por el 
carrusel de imagnes*/
.btn-right,
.btn-left{
	display: flex;
	position: absolute;
	top: 50%;
	font-size:1.5rem;
	background-color: transparent;
	border-radius: 50%;
	padding: 5px;
	font-weight: 600;
	cursor: pointer;
	color: grey;
	transform: translate(0,-50%);
	transition: .5s ease;
	user-select: none;
}
/*modifica los hover de los botones para desplazarse en el carrusel de imagenes*/
.btn-left:hover,
.btn-right:hover{
	background-color: grey;
	color: white;
}
/*modifica la posicion en la que se encuentran los botones dentro del container*/
.btn-left{
	left: 10px;
}
.btn-right{
	right: 10px;
}