<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--css de la pagina de inicio en general -->
	<link rel="stylesheet" href="../../css/styles_admin/style_index_admin.css">
	<!--iconos -->
	<script src="https://kit.fontawesome.com/be457a772f.js" crossorigin="anonymous"></script>
	<title>Dinamyc Loock admin</title>
		<!-- favicons de la pagina -->
	<link rel="apple-touch-icon" sizes="180x180" href="../../imagenes/favicons/apple-touch-icon.ico">
	<link rel="icon" type="image/png" sizes="32x32" href="../../imagenes/favicons/favicon-32x32.ico">
	<link rel="icon" type="image/png" sizes="16x16" href="../../imagenes/favicons/favicon-16x16.ico">
	<link rel="manifest" href="../../imagenes/favicons/site.webmanifest">
	<link rel="mask-icon" href="../../imagenes/favicons/safari-pinned-tab.svg"	 color="#5bbad5">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="theme-color" content="#ffffff">
</head>
<body>
	<header class="header">
		<!--------------------------------- 1. Barra de navegacion ------------------------------->

		<div class="nombre-empresa">
				<a href="index-admin.html">Dinamyc Look</a>
		</div>

		<button class="abrir-menu" id="abrir"><i class="fa-solid fa-bars"></i></i></button>

		<nav class="navbar" id="nav">
			<button class="cerrar-menu" id="cerrar"><i class='bx bx-menu'></i></button>
			<ul class="nav-links">
				<li><a href="usuarios.html">Usuarios</a></li>
				<li><a href="#">Administradores</a></li>
				<li><a href="#">Ventas</a></li>
				<li><a href="#">Catalogos</a></li>
				<li><a href="#">P</a></li>
			</ul>
		</nav>
	</header>
	<main class="container-action">
		<h1 class="t1">¡Bienvenido Administrador!<br>¿Que quieres hacer hoy?</h1>
			<div class="container-categories">
				<div class="card-category category-usuarios">
					<p>Gestionar Usuarios</p>
					<span><a href="usuarios.html">Ver</a></span>
				</div>
				<div class="card-category category-admin">
					<p>Gestionar Administradores</p>
					<span><a href="">Ver</a></span>
				</div>
				<div class="card-category category-catalogos">
					<p>Catalogos</p>
					<span><a href="">Ver</a></span>
				</div>
				<div class="card-category category-reportes">
					<p>Consultar Reportes de Ventas</p>
					<span><a href="">Ver</a></span>
				</div>
			</div>
	</main>
	<script src="../../js/script_carrusel_de_imagenes.js"></script>
</body>
</html>