/* Header y navegación */
.header {
	background: #F9EAF1;
}

.nombre-empresa a {
	color: #9E9260;
}

/* Estilo para la lista de navegación */

.nav-links a {
	color: #9E9260;
}

.nav-links li:hover {
	background-color:  rgba(211, 209, 181, 0.6);
}

.btn button {
	background-color: #BAB48A;
}

.btn button:hover {
	background-color: #9E9260;
}

/******************************** BARRA DE MARCAS *******************************/
.barra-de-marcas{
	background-color: #9E9260;
	margin-left: -25px;
}

.scroll-container::-webkit-scrollbar-thumb {
    background-color: #81734D; /* Color del "dedo" de la barra */
}

.scroll-container::-webkit-scrollbar-thumb:hover {
    background-color: #685A40; /* Color cuando pasas el cursor por encima */
}

.scroll-container::-webkit-scrollbar-track {
    background-color: #9E9260; /* Color del carril de la barra de desplazamiento */
}

/*********************************** SECCION UNO (4) ***********************************/
.section4-product{
    background-color: #F6F5F0;
}
.section4-product2 {
	background-color: #FBFAF7;
}
#t4 {
    color: #81734D;
    background-color: #F6F5F0; 
    text-shadow: 1px 1px 2px rgba(78, 66, 53, 0.1);
}

/* Añadir línea decorativa debajo del título */
#t4::after {
    background-color: #9E9260;
}

    /* Subtitulo */
#p4 {
    color: #9E9260;
}

#t4-2 {
    color: #685A40;
    background-color: transparent;
    text-align: center;
    padding: 30px 0;
    font-size: 40px;
    font-weight: 700; 
    text-shadow: 1px 1px 2px rgba(78, 66, 53, 0.1); 
    position: relative;
}

/* Añadir línea decorativa debajo del título */
#t4-2::after {
    content: "";
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 3px;
    background-color: #81734D;
    border-radius: 3px;
}

  /* Contenedor del carrusel */
.carousel-prd-container2 {
    background-color: transparent;
    border-radius: 30px 30px 0 0;
    padding: 10px 50px;
    position: relative;
    margin-top: -20px;
    overflow: hidden;
}

.carousel-product4-2 {
	background-color: #FBFAF7;
}

.carousel-prd-container {
    background-color: #F6F5F0;
}


.product-card4, .product-card4-2 {
    background-color: #FFFFFF;
    box-shadow: 0 5px 15px rgba(78, 66, 53, 0.3);
}

.product-card4:hover, .product-card4-2:hover {
    box-shadow: 0 8px 20px rgba(129, 115, 77 , 0.5);
}


.text-card4 {
    background-color: #9E9260;
    color: #FBFAF7;
}


.text-card4 p {
    color: #FBFAF7;
}

  /* Botón de agregar al carrito */
#btn-add4 {
    background-color: #D3D1B5;
    color: #594C3A;
    box-shadow: 0 2px 5px rgba(78, 66, 53, 0.2); 
}

#btn-add4:hover {
    background-color: #BAB48A;
    box-shadow: 0 4px 8px rgba(78, 66, 53, 0.3);
}

.btn-right-prd, .btn-left-prd, .btn-right-prd2, .btn-left-prd2 {
    background-color: #81734D;
    box-shadow: 0 3px 10px rgba(78, 66, 53, 0.3);
}

.btn-right-prd:hover, .btn-left-prd:hover, .btn-right-prd2:hover, .btn-left-prd2:hover {
    background-color: #9E9260;
}

.carousel-dot {
    background-color: #9E9260;
}

.carousel-dot.active {
    background-color: #81734D;
}


/*********************************** SECCION DOS (1) ***********************************/
.section1-product {
    background-color: #FBFAF7;
}
#t1 {
    color: #81734D;
    background-color: #FBFAF7; 
    text-shadow: 1px 1px 2px rgba(78, 66, 53, 0.1);
}

#t1::after {
    background-color: #9E9260;
}

#p1 {
    color: #9E9260;
}

.container-product-cards {
    background-color: #FBFAF7;
}

.product-card {
    background-color: #FFFFFF;
    box-shadow: rgba(129, 115, 77 , .4); 
}

.product-card:hover {
    box-shadow: rgba(129, 115, 77 , 0.6); 
}

.text-card {
    background-color: #9E9260;
    color: #FBFAF7;
}


.text-card p {
    color: #FBFAF7;
}

  /* Botón de agregar al carrito */
#btn-add {
    background-color: #D3D1B5;
    color: #594C3A;
    box-shadow: 0 2px 5px rgba(78, 66, 53, 0.2); 
}

#btn-add:hover {
    background-color: #BAB48A;
    box-shadow: 0 4px 8px rgba(78, 66, 53, 0.3);
}
/*********************************** SECCION TRES (2) ***********************************/

.cp-container {
    background: linear-gradient(to bottom, #F6F5F0, #F6F5F0);
    box-shadow: inset 0 0px 0px rgba(78, 66, 53, 0.2); 
}

#t2 {
    color: #81734D;
    text-shadow: 1px 1px 3px rgba(78, 66, 53, 0.3); 
}

/* Personalización de la barra de scroll horizontal */
.carousel-product::-webkit-scrollbar {
    height: 10px; 
}

.carousel-product::-webkit-scrollbar-thumb {
    background-color: #9E9260;
}

.carousel-product::-webkit-scrollbar-thumb:hover {
    background-color: #81734D;
}

.carousel-product::-webkit-scrollbar-track {
    background-color: rgba(223, 85, 125, .3);
}

.product-card2 {
    background-color: #FFFFFF;
    box-shadow: 0 5px 15px rgba(78, 66, 53, 0.3);
}

.product-card2:hover {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4); 
}

.text-card2 {
    background-color: #9E9260;
    color: #FBFAF7;
}


.text-card2 p {
    color: #FBFAF7;
}

  /* Botón de agregar al carrito */
#btn-add2 {
    background-color: #D3D1B5;
    color: #594C3A;
    box-shadow: 0 2px 5px rgba(78, 66, 53, 0.2); 
}

#btn-add2:hover {
    background-color: #BAB48A;
    box-shadow: 0 4px 8px rgba(78, 66, 53, 0.3);
}


