<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Título de la pestaña -->
	<title>Dinamyc look</title>

	<!-- Estilos CSS de la página -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/styles_usuario/style_general.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/styles_usuario/style_conocenos.css') }}">

	<!-- Fuente de iconos Boxicons -->
	<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

	<!-- Fuente de iconos FontAwesome -->
	<script src="https://kit.fontawesome.com/be457a772f.js" crossorigin="anonymous"></script>

	<!-- Favicons -->
	<link rel="apple-touch-icon" sizes="180x180"
		href="{{ url_for('static', filename='imagenes/favicons/apple-touch-icon.ico') }}">
	<link rel="icon" type="image/png" sizes="32x32"
		href="{{ url_for('static', filename='imagenes/favicons/favicon-32x32.ico') }}">
	<link rel="icon" type="image/png" sizes="16x16"
		href="{{ url_for('static', filename='imagenes/favicons/favicon-16x16.ico') }}">
	<link rel="manifest" href="{{ url_for('static', filename='imagenes/favicons/site.webmanifest') }}">
	<link rel="mask-icon" href="{{ url_for('static', filename='imagenes/favicons/safari-pinned-tab.svg') }}"
		color="#5bbad5">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="theme-color" content="#ffffff">
</head>

<body>
	<header class="header">
		<!--------------------------------- 1. Barra de navegacion ------------------------------->

		<div class="nombre-empresa">
			<a href="{{ url_for('client_bp.index_cliente') }}">Dinamyc Look</a>
		</div>

		<nav class="navbar" id="nav">
			<ul class="nav-links">
				<li class="house" title="Inicio"><a href="{{ url_for('client_bp.index_cliente') }}"><i
							class="fa-solid fa-house-chimney"></i></a></li>
				<li title="Carrito"><a href="#"><i class='bx bxs-shopping-bags'></i></a></li>
				{% if user %}
				<!-- Icono de usuario cuando ha iniciado sesión -->
				<li class="usuario-menu">
					<a href="#"><i class="fa-solid fa-user"></i></a>
					<div class="usuario-dropdown">
						<a href="{{ url_for('client_bp.favoritos') }}"><i class='bx bxs-star'></i><span>
								Favoritos</span></a>
						<a href="{{ url_for('client_bp.compras') }}"><i class='bx bxs-shopping-bags'></i><span>
								Compras</span></a>
						  <a href="{{ url_for('admin_bp.configuracion') }}"><i class='bx bxs-user'></i><span>
								Perfil</span></a>
						<a href="{{ url_for('auth_bp.logout') }}"><i class="fa-solid fa-right-from-bracket"></i> Cerrar
							sesión</a>
					</div>
				</li>
				{% else %}
				<li title="Iniciar Sesión"><a href="{{ url_for('auth_bp.login') }}"><i class='bx bx-log-in'></i></a>
				</li>
				{% endif %}
			</ul>
		</nav>
	</header>
	<main>
		<section class="container-info">
			<div class="info">
				<h1>Quiénes somos</h1>
				<p class="p1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras commodo ut sapien at auctor.
					Etiam ultrices accumsan semper. Morbi quis dui ipsum. Mauris euismod feugiat luctus. Sed sed
					tincidunt felis, et elementum ex. Integer commodo tincidunt justo, eu tempus arcu malesuada
					bibendum. Praesent consequat pellentesque mauris vitae tincidunt. Maecenas efficitur, tortor in
					congue scelerisque, tortor nunc ultricies metus, tempor faucibus nisl ipsum ac nulla. Sed non
					bibendum odio. Duis nec erat in augue placerat viverra. Quisque magna erat, efficitur sed sagittis
					vitae, vulputate sollicitudin nisi. Quisque rhoncus, arcu in malesuada dictum, arcu ligula
					consectetur nibh, ac tincidunt nibh enim non tellus. Nunc ornare ex sed malesuada convallis. Quisque
					ut dapibus magna, a dictum diam. Cras ultrices, dolor vel condimentum viverra, diam ex posuere est,
					tempus volutpat nisi velit nec nunc.</p>
			</div>
			<img src="../../imagenes/logos/logo.png" alt="">
		</section>
		<section class="location">
			<h1 id="t2">Encuentranos</h1>
			<iframe id="ubicacion"
				src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3976.9355003721566!2d-74.14266122679886!3d4.605570842478602!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f9ec6e0b0f421%3A0x84e53d9fccd92aac!2sCl.%2039%20Sur%20%2368J-62%2C%20Bogot%C3%A1!5e0!3m2!1ses!2sco!4v1732376527878!5m2!1ses!2sco"
				width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
				referrerpolicy="no-referrer-when-downgrade"></iframe>
		</section>
	</main>
	<!------------------------------------- Footer -------------------------------------->
	<footer class="footer">
		<div class="footer-container">
			<div class="footer-section">
				<h4>Sobre Nosotros</h4>
				<p>Somos tu aliado para un cabello radiante, con soluciones perfectas y deslumbrantes.</p>
				<button class="btn-conocenos"><a href="{{ url_for('client_bp.conocenos') }}">Conoce más</a></button>
			</div>
			<div class="footer-section">
				<h4>Contáctanos</h4>
				<p>Email: dinamycloock@gmail.com</p>
				<p>Teléfono: +57 3009528943</p>
				<ul class="redes">
					<a href="">
						<li><i class='bx bxl-facebook-circle'></i></li>
					</a>
					<a href="">
						<li><i class='bx bxl-tiktok'></i></li>
					</a>
					<a href="https://www.instagram.com/dinamyc_look/">
						<li><i class='bx bxl-instagram'></i></li>
					</a>
					<li><i class='bx bxl-whatsapp'></i></li>
					</a>
				</ul>
			</div>
		</div>
		<div class="footer-bottom">
			<p>&copy; 2024 DinamycLook® | Todos los derechos reservados | BY: Laura vargas , Sergio Soriano. </p>
		</div>
	</footer>
</body>

</html>