<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--css de la pagina de inicio en general -->
	<link rel="stylesheet" href="../../static/css/styles_usuario/style_general.css">
	<!--css de la barra de marcas -->
	<link rel="stylesheet" href="../../static/css/styles_usuario/style_barra_de_marcas.css">
	<!--fuente de iconos la use en las flechas del carrusel https://boxicons.com/ -->
	<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
	<title>Dinamyc Loock</title>
	<!-- favicons de la pagina -->
	<link rel="apple-touch-icon" sizes="180x180" href="../../static/imagenes/favicons/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="../../static/imagenes/favicons/favicon-32x32.ico">
	<link rel="icon" type="image/png" sizes="16x16" href="imagenes/favicons/favicon-16x16.ico">
	<link rel="manifest" href="../../static/imagenes/favicons/site.webmanifest">
	<link rel="mask-icon" href="../../static/imagenes/favicons/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="theme-color" content="#ffffff">
</head>

<body>
	<header class="header">
		<!--------------------------------- 1. Barra de navegacion ------------------------------->

		<div class="nombre-empresa">
			<a href="index.html">Dinamyc Look</a>
		</div>

		<!----------------------------------- 1.1 Barra de busqueda ------------------------------------>
		<div class="barra-de-busqueda">
			<!-- input de busqueda -->
			<input class="buscar" type="text" placeholder="Buscar">
			<!-- boton de busqueda -->
			<div class="btn">
				<!-- cambia la imagen del boton de busqueda -->
				<button type="submit"><i class='bx bx-search'></i></button>
			</div>
		</div>

		<nav class="navbar" id="nav">
			<ul class="nav-links">
				<li><a href="#"><i class='bx bxs-shopping-bags'></i></a></li>
				<li><a href="../auth/login.html"><i class='bx bxs-user'></i><a></li>
			</ul>
		</nav>
	</header>

	<section class="container-banner">
		<div class="inf-banner">
			<h1>TU CABELLO MERECE DE LO MEJOR EN <span>BOGOTÁ</span></h1>
			<p>Productos capilares efectivos diseñados para cada tipo de necesidad.</p>
			<button class="btn-banner"><a href="#t1">Conoce +</a></button>
		</div>
	</section>

	<!----------------------------------------- 2. Barra de Marcas------------------------------>
	<section class="barra-de-marcas">
		<div class="scroll-container">
			<div class="items-marcas"><a href="epa-colombia.html"><img
						src="../../static/imagenes/logos/epa colombia logo letra blanca.png" alt=""></a></div>
			<div class="items-marcas"><a href="anyeluz.html"><img
						src="../../static/imagenes/logos/anyeluz logo letra blanca.png" alt=""></a></div>
			<div class="items-marcas"><a href="milagros.html"><img
						src="../../static/imagenes/logos/milagros logo letra blanca.png" alt=""></a></div>
			<div class="items-marcas"><a href="dluchi.html"><img
						src="../../static/imagenes/logos/dluchi logo letra blanca.png" alt=""></a></div>
			<div class="items-marcas"><a href="kaba.html"><img
						src="../../static/imagenes/logos/kaba logo letra blanca.png" width="auto" alt=""></a></div>
			<div class="items-marcas"><a href="lareceta.html"><img
						src="../../static/imagenes/logos/la receta logo letra blanca.png" alt=""></a></div>
			<div class="items-marcas"><a href="magic-hair.html"><img
						src="../../static/imagenes/logos/magic hair logo letra blanca.png" alt=""></a></div>
			<div class="items-marcas"><a href="OMG.html"><img src="../../static/imagenes/logos/omg logo letra blaca.png"
						width="auto" alt=""></a></div>
			<div class="items-marcas"><a href="la-pocion.html"><img
						src="../../static/imagenes/logos/pocion logo letra blanca.png" width="auto" alt=""></a></div>
		</div>
	</section>

	<main>
		<!---------------------------------------- 4. Seccion uno -------------------------------------------->
		<section class="section1-product">
			<h1 id="t1">Los Top Del Momento</h1>
			<p id="p1">pa' que goces el invento</p>
			<div class="container-product-cards">
				<div class="product-card">
					<div class="image-container">
						<img src="../../static/imagenes/anyeluz/DUO-ROMERO.jpg" alt="Producto">
					</div>
					<div class="text-card">
						<h3>Nombre del producto N1</h3>
						<p>$ 180.000</p>
						<button id="btn-add" type="sumbit">Agregar <i class='bx bx-shopping-bag'></i></button>
					</div>
				</div>
				<div class="product-card">
					<div class="image-container">
						<img src="../../static/imagenes/anyeluz/DUO-ROMERO.jpg" alt="Producto">
					</div>
					<div class="text-card">
						<h3>Nombre del producto N2</h3>
						<p>$ 125.000</p>
						<button id="btn-add" type="sumbit">Agregar <i class='bx bx-shopping-bag'></i></button>
					</div>
				</div>
				<div class="product-card">
					<div class="image-container">
						<img src="../../static/imagenes/anyeluz/DUO-ROMERO.jpg" alt="Producto">
					</div>
					<div class="text-card">
						<h3>Nombre del producto N3</h3>
						<p>$ 220.000</p>
						<button id="btn-add" type="sumbit">Agregar <i class='bx bx-shopping-bag'></i></button>
					</div>
				</div>
				<div class="product-card">
					<div class="image-container">
						<img src="../../static/imagenes/anyeluz/DUO-ROMERO.jpg" alt="Producto">
					</div>
					<div class="text-card">
						<h3>Nombre del producto N4</h3>
						<p>$ 250.000</p>
						<button id="btn-add" type="sumbit">Agregar <i class='bx bx-shopping-bag'></i></button>
					</div>
				</div>
			</div>
		</section>
		<!---------------------------------------- 5. Seccion dos -------------------------------------------->
		<section class="section2-product">
			<div class="cp-container">
				<h1 id="t2">Imposible Dejar Los Pasar</h1>
				<div class="carousel-product">
					<div class="product-card2">
						<div class="image-container">
							<img src="../../static/imagenes/anyeluz/DUO-GINSENG.jpg" alt="Producto">
						</div>
						<div class="text-card2">
							<h3>Nombre del producto N1</h3>
							<p>$ 250.000</p>
							<button id="btn-add2" type="sumbit">Agregar <i class='bx bx-shopping-bag'></i></button>
						</div>
					</div>
					<div class="product-card2">
						<div class="image-container">
							<img src="../../static/imagenes/anyeluz/DUO-GINSENG.jpg" alt="Producto">
						</div>
						<div class="text-card2">
							<h3>Nombre del producto N2</h3>
							<p>$ 280.000</p>
							<button id="btn-add2" type="sumbit">Agregar <i class='bx bx-shopping-bag'></i></button>
						</div>
					</div>
					<div class="product-card2">
						<div class="image-container">
							<img src="../../static/imagenes/anyeluz/DUO-GINSENG.jpg" alt="Producto">
						</div>
						<div class="text-card2">
							<h3>Nombre del producto N3</h3>
							<p>$ 150.000</p>
							<button id="btn-add2" type="sumbit">Agregar <i class='bx bx-shopping-bag'></i></button>
						</div>
					</div>
					<div class="product-card2">
						<div class="image-container">
							<img src="../../static/imagenes/anyeluz/DUO-GINSENG.jpg" alt="Producto">
						</div>
						<div class="text-card2">
							<h3>Nombre del producto N4</h3>
							<p>$ 250.000</p>
							<button id="btn-add2" type="sumbit">Agregar <i class='bx bx-shopping-bag'></i></button>
						</div>
					</div>
					<div class="product-card2">
						<div class="image-container">
							<img src="../../static/imagenes/anyeluz/DUO-GINSENG.jpg" alt="Producto">
						</div>
						<div class="text-card2">
							<h3>Nombre del producto N5</h3>
							<p>$ 130.000</p>
							<button id="btn-add2" type="sumbit">Agregar <i class='bx bx-shopping-bag'></i></button>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!--------------------------------------- 6. Seccion Tres ------------------------------------------>
		<section class="section3-product">
			<h1 id="t3">Combos Top</h1>
			<p id="p3">para que brilles sin stop</p>
			<div class="container-product-cards3">
				<div class="product-card3">
					<div class="image-container3">
						<img src="../../static/imagenes/anyeluz/DUO-ROMERO.jpg" alt="Producto">
					</div>
					<div class="text-card3">
						<h3>Nombre del combo N1</h3>
						<p class="descrption">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque
							laoreet tortor viverra dolor viverra egestas. Etiam efficitur justo et dictum molestie.
							Integer sed egestas tortor.</p>
						<a id="btn-add3" href="#">Ver Más</a>
					</div>
				</div>
				<div class="product-card3" id="inverse">
					<div class="image-container3">
						<img src="../../static/imagenes/anyeluz/DUO-ROMERO.jpg" alt="Producto">
					</div>
					<div class="text-card3" id="inverse-text">
						<h3>Nombre del combo N2</h3>
						<p class="descrption">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque
							laoreet tortor viverra dolor viverra egestas. Etiam efficitur justo et dictum molestie.
							Integer sed egestas tortor.</p>
						<a id="btn-add3" href="#">Ver Más</a>
					</div>
				</div>
				<div class="product-card3">
					<div class="image-container3">
						<img src="../../static/imagenes/anyeluz/DUO-ROMERO.jpg" alt="Producto">
					</div>
					<div class="text-card3">
						<h3>Nombre del combo N3</h3>
						<p class="descrption">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque
							laoreet tortor viverra dolor viverra egestas. Etiam efficitur justo et dictum molestie.
							Integer sed egestas tortor.</p>
						<a id="btn-add3" href="#">Ver Más</a>
					</div>
				</div>
			</div>
		</section>
		<!--------------------------------------- 6. Seccion Cuatro ------------------------------------------>
		<section class="section4-product">
			<!-- Título y subtítulo -->
			<h1 id="t4">Productos EDA Cosméticos</h1>
			<p id="p4">Belleza y cuidado para tu cabello</p>
			<!-- Contenedor principal del carrusel -->
			<div class="carousel-prd-container">
				<!-- Botones de navegación FUERA del carousel-product4 -->
				<button class="btn-left-prd">
					<i class='bx bx-left-arrow-alt'></i>
				</button>
				<button class="btn-right-prd">
					<i class='bx bx-right-arrow-alt'></i>
				</button>

				<!-- Área del carrusel donde se muestran los productos -->
				<div class="carousel-product4">
					<!-- Primer producto -->
					<div class="product-card4">
						<div class="image-container">
							<img src="../../static/imagenes/anyeluz/DUO-GINSENG.jpg" alt="Producto">
						</div>
						<div class="text-card4">
							<h3>Nombre del producto N1</h3>
							<p>$ 250.000</p>
							<button id="btn-add4" type="submit">Agregar <i class='bx bx-shopping-bag'></i></button>
						</div>
					</div>
					<!-- Segundo producto -->
					<div class="product-card4">
						<div class="image-container">
							<img src="../../static/imagenes/anyeluz/DUO-GINSENG.jpg" alt="Producto">
						</div>
						<div class="text-card4">
							<h3>Nombre del producto N2</h3>
							<p>$ 250.000</p>
							<button id="btn-add4" type="submit">Agregar <i class='bx bx-shopping-bag'></i></button>
						</div>
					</div>
					<!-- Tercer producto -->
					<div class="product-card4">
						<div class="image-container">
							<img src="../../static/imagenes/anyeluz/DUO-GINSENG.jpg" alt="Producto">
						</div>
						<div class="text-card4">
							<h3>Nombre del producto N3</h3>
							<p>$ 250.000</p>
							<button id="btn-add4" type="submit">Agregar <i class='bx bx-shopping-bag'></i></button>
						</div>
					</div>
					<!-- Cuarto producto -->
					<div class="product-card4">
						<div class="image-container">
							<img src="../../static/imagenes/anyeluz/DUO-GINSENG.jpg" alt="Producto">
						</div>
						<div class="text-card4">
							<h3>Nombre del producto N4</h3>
							<p>$ 250.000</p>
							<button id="btn-add4" type="submit">Agregar <i class='bx bx-shopping-bag'></i></button>
						</div>
					</div>
					<!-- Quinto producto -->
					<div class="product-card4">
						<div class="image-container">
							<img src="../../static/imagenes/anyeluz/DUO-GINSENG.jpg" alt="Producto">
						</div>
						<div class="text-card4">
							<h3>Nombre del producto N5</h3>
							<p>$ 250.000</p>
							<button id="btn-add4" type="submit">Agregar <i class='bx bx-shopping-bag'></i></button>
						</div>
					</div>
					<!-- Sexto producto -->
					<div class="product-card4">
						<div class="image-container">
							<img src="../../static/imagenes/anyeluz/DUO-GINSENG.jpg" alt="Producto">
						</div>
						<div class="text-card4">
							<h3>Nombre del producto N6</h3>
							<p>$ 250.000</p>
							<button id="btn-add4" type="submit">Agregar <i class='bx bx-shopping-bag'></i></button>
						</div>
					</div>
				</div>

				<!-- Contenedor de los puntos indicadores FUERA del carousel-product4 -->
				<div class="carousel-dots">
					<!-- Los puntos se generarán dinámicamente con JavaScript -->
				</div>
			</div>
		</section>
	</main>
	<!------------------------------------- Footer -------------------------------------->
	<footer class="footer">
		<div class="footer-container">
			<div class="footer-section">
				<h4>Sobre Nosotros</h4>
				<p>Somos tu aliado para un cabello radiante, con soluciones perfectas y deslumbrantes.</p>
				<button class="btn-conocenos"><a href="conocenos.html">Conoce más</a></button>
			</div>
			<div class="footer-section">
				<h4>Contáctanos</h4>
				<p>Email: info@ejemplo.com</p>
				<p>Teléfono: +123 456 7890</p>
				<ul class="redes">
					<a href="">
						<li><i class='bx bxl-facebook-circle'></i></li>
					</a>
					<a href="">
						<li><i class='bx bxl-tiktok'></i></li>
					</a>
					<a href="">
						<li><i class='bx bxl-instagram'></i></li>
					</a>
					<a href="">
						<li><i class='bx bxl-whatsapp'></i></li>
					</a>
				</ul>
			</div>
		</div>
		<div class="footer-bottom">
			<p>&copy; 2024 DinamycLook | Todos los derechos reservados</p>
		</div>
	</footer>
	<!--java del carrusel de imagenes-->
	<script src="../../static/js/script_carusel_producto.js"></script>

</body>

</html>