/*letra para el nombre de la empresa*/
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
/*letra general de toda la pagina*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/************* Propiedades generales **********/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box; 
}

/* Estilo para el body */
body {
	background-color: #F9EAF1;
	font-family: "Raleway", sans-serif;
	font-size: 20px;
}

/************************************ 1. HEADER ***********************************/
/* Header y navegación */
.header {
	background: #451221;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	height: 60px;
	padding: 15px 20px;
	font-weight: 800;
}


/* Estilo para el nombre de la empresa */

.nombre-empresa {
	margin-right: auto;
}

.nombre-empresa a {
	font-family: "Dancing Script", cursive;
	font-size: 40px;
	color: #F9EAF1;
	text-decoration: none;
	margin: 0;
}

/* Estilo para la lista de navegación */
.nav-links {
	list-style: none;
	display: flex; 
	gap: 20px; 
}

.nav-links i {
	font-size: 25px;
}

.nav-links li {
	padding: 10px;
}

.nav-links a {
	color: #F9EAF1;
	text-decoration: none;
}
.navbara:hover {
	cursor: pointer;
}
.nav-links li:hover {
	background-color: rgba(193, 78, 119, 0.5); 
	padding: 10px;
	height: 45px;
	border-radius: 50% ;
}

/******************************* 1.1. BARRA DE BUSQUEDA **********************************/

	/*cambia la posicion del div:barra-de-busqueda*/
	.barra-de-busqueda{
		display: flex;
		align-items: center;
		padding: 20px;
	}

	/*cambia las propiedades del input */
	.barra-de-busqueda .buscar{
		box-sizing: border-box;
		padding: 0 45px 0 20px;
		color: black;
		border-radius: 50px;
		font-size: 20px;
		border: 2px solid #FbF4F7;
		height: 40px;
	}
	.buscar:focus {
		outline: none;
	}
	/*cambia la posicion del icono de busqueda*/
	.btn button{
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		top: 7.5px;
		right: 170px;
		width: 45px;
		height: 45px;
		border: 0;
		border-radius: 50px 50px;
		background-color: #DF7DA6;
		font-size: 25px;
		color: #FbF4F7;
	}

	.btn button:hover {
		background-color:  #C1416D;
	}

/************************************** 2. BARRA DE MARCAS *********************************/
	/*propiedades de la seccion*/

	.barra-de-marcas img{
		height: 35px;
		width: auto;
	}

	.barra-de-marcas div {
		border-right: solid 2px #ffffff;
		padding-right: 20px;
	}

	.barra-de-marcas div:last-child {
		border-right: none;
		padding-right: 10px;
	}

	 /* Color del carril de fondo */
	.scroll-container {
	  	display: flex;
	  	width: 100%;
		justify-content: space-between;
	  	overflow-x: scroll;
	  	scroll-snap-type: x mandatory;
	  	padding: 10px 25px 0;
	  	gap: 20px;
	}

	/* Personalización de la barra de scroll horizontal */
	.scroll-container::-webkit-scrollbar {
	    height: 6px; /* Altura de la barra de scroll horizontal */
	}

	.scroll-container::-webkit-scrollbar-thumb {
	    background-color: #DF7DA6; /* Color del "dedo" de la barra */
	    border-radius: 10px;/* Bordes redondeados */
	}

	.scroll-container::-webkit-scrollbar-thumb:hover {
	    background-color: #C1416D; /* Color cuando pasas el cursor por encima */
	}

	.scroll-container::-webkit-scrollbar-track {
	    background-color: #F6C5DA; /* Color del carril de la barra de desplazamiento */
	}

/***************************************** 3. CARRUSEL DE IMAGENES ***************************/

	/*este modifica el tamaño del container el cual muestra las imagenes del carrusel*/
	.container-carrusel{
		width: 100%;
		height: auto;
		top: 0;
		margin: 0;
		overflow: hidden;
		border-radius: 0px;
		position: relative;
	}

	/*establece las propiedades del container que se desplaza en width se pone segun
	la cantidad de imagenes, cada imagen equivale a un 100% mas */
	.carruseles{
		width: 400%;
		height: 100%;
		display: flex;
		text-align: center;
	}

	/*este modifica el tamaño de cada section, en el width se calcula el tamaño 
	cogiendo el 100% de el .carruseles y dividiendo en la cantidad de imagenes 
	que contiene el carrusel de imagenes */
	.slider-section{
		width: calc(100%/4);
		height: 100%;
	}

	/*este modifica el tamaño solo de las imagenes y no del container donde se encuentran 
	se deja al 100% para que el codigo sea adaptable y facil de modificar si se llega a agregar
	o eliminar alguna imagen del carrusel*/
	.slider-section img{
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: 0px;
	}
	/*este modifica las propiedades que tienen los botones para desplazarze por el 
	carrusel de imagnes*/
	.btn-right,
	.btn-left{
		display: flex;
		position: absolute;
		top: 50%;
		font-size:1.5rem;
		background-color: transparent;
		border-radius: 50%;
		padding: 5px;
		font-weight: 600;
		cursor: pointer;
		color: grey;
		transform: translate(0,-50%);
		transition: .5s ease;
		user-select: none;
	}

	/*modifica los hover de los botones para desplazarse en el carrusel de imagenes*/
	.btn-left:hover,
	.btn-right:hover{
		background-color: grey;
		color: white;
	}

	/*modifica la posicion en la que se encuentran los botones dentro del container*/
	.btn-left{
		left: 10px;
	}

	.btn-right{
		right: 10px;
	}

/*********************************** 4. SECCION UNO ***********************************/
	#t1 {
		color: #A63055;
		background-color: #F9EAF1;
		text-align: center;
		padding: 30px 0;
		font-size: 40px;
	}

	#p1 {
		color: #C1416D;
		text-align: center;
		position: relative;
		top: -30px;
	}

	.container-product-cards {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
		justify-items: center;
		gap: 20px;
		padding: 20px 20px 40px;
		background-color: #F9EAF1;
		border-radius: 30px 30px 0 0;
	}

	.product-card {
	  background-color: #FFFFFF;
	  width: 250px;
	  height: 410px;
	  border-radius: 10px;
	  box-shadow: 1px 4px 4px rgba(166, 48, 85, 0.6);
	  text-align: center;
	  position: relative;
	  transition: transform 0.2s ease-in-out;
	}

	.product-card:hover {
	  transform: scale(1.05);
	}

	.text-card {
		background-color: #73283E;
		height: 150px;
		padding: 10px 25px;
		border-radius: 0 0 10px 10px;
		color: #FFFFFF;
	}

	.text-card h3 {
		font-size: 18px;
		font-weight: 400;
	}

	.text-card p {
		font-weight: 600;
		padding: 10px;
	}

	#btn-add {
		background-color: #C1416D;
		color: #FFFFFF;
		border: none;
		border-radius: 30px;
		padding: 10px 60px;
		font-size: 15px;
	}

	#btn-add:hover {
		background-color: #A63055;
	}

	.image-container img {
	  width: 100%;
	  border-radius: 10px 10px 0 0;
	  cursor: pointer;
	  height: 260px;
	}


/*********************************** 5. SECCION DOS ***********************************/

	.cp-container {
		display: flex;
        width: 100%;
        overflow: hidden;
        padding: 30px;
        background: #451221;
    }

	#t2 {
		align-content: center;
		padding: 0 15px 0;
		color: #FFFFFF;
		font-size: 36px;
	}

   	.carousel-product {
       	display: flex;
       	flex-wrap: nowrap; /* No permite saltos de línea */
       	justify-content: space-between;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        gap: 50px;
        padding: 20px 20px 20px 50px;
    }

    /* Personalización de la barra de scroll horizontal */
	.carousel-product::-webkit-scrollbar {
	    height: 10px; 
	}

	.carousel-product::-webkit-scrollbar-thumb {
	    background-color: #C1416D;
	    border-radius: 10px;
	}

	.carousel-product::-webkit-scrollbar-thumb:hover {
	    background-color: rgba(166, 48, 85, .4);
	}

	.carousel-product::-webkit-scrollbar-track {
	    background-color: rgba(115, 40, 62, .3);
	    border-radius: 10px;
	}

    .product-card2 {
        flex: 0 0 auto;/*<factor-de-crecimiento> <factor-de-encogimiento> <tamaño-base>;*/
        scroll-snap-align: center;
        border-radius: 10px;
        overflow: hidden;
        background-color: #FFFFFF;
		width: 250px;
		height: 410px;
		border-radius: 10px;
		box-shadow: 5px 2px 4px rgba(000, 000, 000, .7);
		text-align: center;
		position: relative;
		transition: transform 0.2s ease-in-out;
    }

	.product-card2:hover {
	  transform: scale(1.05);
	}

   .text-card2 {
		background-color: #A63055;
		height: 150px;
		padding: 10px 25px;
		border-radius: 0 0 10px 10px;
		color: #FFFFFF;
	}
	
	.text-card2 h3 {
		font-size: 18px;
		font-weight: 400;
	}

	.text-card2 p {
		font-weight: 600;
		padding: 10px;
	}

	#btn-add2 {
		background-color: #F9EAF1;
		color: #451221;
		border: none;
		border-radius: 30px;
		padding: 10px 60px;
		font-size: 15px;
	}

	#btn-add2:hover {
		background-color: #F5D5E4;
	}


/**************************************** Footer **********************************/
	.footer {
	    background-color: #892b47;
	    color: #ecf0f1;
	    padding: 20px 0;
	    text-align: center;
	    height: auto;
	}

	.footer-container {
	    display: grid;
	    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	    justify-content: space-around;
	    padding: 20px;
	    height: 200px;
	}

	.footer-section {
		display: flex;
		flex-direction: column;
		align-items: center;
	    margin: 10px;
	    flex: 1;
	    min-width: 200px;
	}

	.footer-section h4 {
	    font-size: 25px;
	    margin-bottom: 10px;
	}

	.footer-section p {
		font-size: 18px;
	    margin: 0;
	    padding: 0;
	}

	.btn-conocenos {
		border: 1px solid #451221;
		background-color: #451221;
		margin: 10px;
		padding: 10px;
		border-radius: 30px;
		box-shadow: 0px 10px 15px rgba(75, 13, 35, .6);
	}

	.btn-conocenos a{
		text-decoration: none;
		color: #FbF4F7;
	}

	.btn-conocenos:hover {
		box-shadow: 0px 10px 20px rgba(75, 13, 35, .5);
		transform: translateY(3px);
	}

	.footer-bottom {
	    border-top: 1px solid #451221;
	    margin-top: 20px;
	    padding-top: 10px;
	    font-size: 10px;
	}
	.redes {
		list-style: none;
		display: flex;
		margin: 15px;
		gap: 10px;
		font-size: 25px;
	}

	.redes a {
		color: #FbF4F7;
	}

/******************************************** MEDIACUERIS **********************************************/

@media screen and (max-width: 980px){
	.nombre-empresa {
		width: 60vw;
	}
		
	.barra-de-busqueda .buscar {
		width: 25vw;
	}
}   

@media screen and (max-width: 580px){
	.nombre-empresa a {
		font-size: 23px;
	}

	.nav-links i {
		font-size: 22px;
	}
		
	.barra-de-busqueda .buscar {
		height: 40px;
		width: 25vw;
		font-size: 18px;
		padding: 10px;
	}

	.btn button {
		right: 164px;
	}

 /************* FOOTER ***************/
	.footer-container {
	   	height: 170px;
	}

	.footer-section h4 {
	   	font-size: 16px;
	}

	.footer-section p {
		font-size: 10px;
	}

	.redes {
		font-size: 20px;
	}
	
}

@media screen and (max-width: 430px){
	.nombre-empresa a {
		font-size: 20px;
	}

	.nav-links {
		list-style: none;
		display: flex; 
		gap: 10px; 
	}

	.nav-links i {
		font-size: 20px;
	}

	.nav-links li {
		padding: 5px;
	}

	.barra-de-busqueda .buscar {
		height: 28px;
		width: 20vw;
		font-size: 11px;
		padding: 0 10px 0 5px;
	}

	.btn button {
		height: 28px;
		width: 28px;
		font-size: 20px;
		top: 16px;
		right: 119px;
	}
 /************* SECCION DOS ***************/
	.cp-container {
		flex-direction: column;
    }

    .carousel-product {
        padding: 20px 20px 20px 30px;
    }

	#t2 {
		font-size: 30px;
		text-align: center;
		padding:  10px 20px;
	}
  /************* FOOTER ***************/
		.footer-container {
	   		height: 350px;
		}

		.footer-section h4 {
	    	font-size: 20px;
		}

		.footer-section p {
			font-size: 15px;
		}

		.redes {
			font-size: 20px;
		}
}

