/* Header y navegación */
.header {
	background: #F9EAF1;
}

.nombre-empresa a {
	color: #FF0082;
}

/* Estilo para la lista de navegación */

.nav-links a {
	color: #FF0082;
}

.nav-links li:hover {
	background-color:  rgba(255, 88, 194, 0.4);
}

.btn button {
	background-color: #ff0082;
}

.btn button:hover {
	background-color: #df0066;
}

/******************************** BARRA DE MARCAS *******************************/
.barra-de-marcas{
	background-color: #FF0082;
	margin-left: -25px;
}

.scroll-container::-webkit-scrollbar-thumb {
    background-color: #DF0066; /* Color del "dedo" de la barra */
}

.scroll-container::-webkit-scrollbar-thumb:hover {
    background-color: #B80054; /* Color cuando pasas el cursor por encima */
}

.scroll-container::-webkit-scrollbar-track {
    background-color: #FF0082; /* Color del carril de la barra de desplazamiento */
}



