/* Header y navegación */
.header {
	background: #F9EAF1;
}

.nombre-empresa a {
	color: #1f4A1D;
}

/* Estilo para la lista de navegación */

.nav-links a {
	color: #1f4A1D;
}

.nav-links li:hover {
	background-color: rgba(67, 174, 57, 0.5); 
}

.btn button {
	background-color: #2A7124;
}

.btn button:hover {
	background-color:  #255A21;
}

/******************************** BARRA DE MARCAS *******************************/
.barra-de-marcas{
	background-color: #1f4A1D;
	margin-left: -25px;
}

.scroll-container::-webkit-scrollbar-thumb {
    background-color: #2A7124; /* Color del "dedo" de la barra */
}

.scroll-container::-webkit-scrollbar-thumb:hover {
    background-color: #255A21; /* Color cuando pasas el cursor por encima */
}

.scroll-container::-webkit-scrollbar-track {
    background-color: #234621; /* Color del carril de la barra de desplazamiento */
}
